/*html,body {
	height: 100%;
	width: 100%;
}*/
.center{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position:absolute;
    top:50%;
    left:50%;
    margin-left: -200px;
    margin-top:-100px;*/
}
.l_t{
	height: 50px;
	width: 50px;
	background-color: #fc0;
	border-radius: 0 0 50px 0;
}
.r_b{
	height: 50px;
	width: 50px;
	background-color: #fc0;
	border-radius: 50px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
/*.dad {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}*/