*{
	padding: 0;
	margin:0;
	list-style: none;
	font-family: "微软雅黑";
}

.form-control{
	 border-radius: 1000px!important;
	 width: 375px!important;
}
.navbar-form .btn{
	background: rgb(33,137,192);
	border:none!important;
}
.collapse{
	float: right;
	margin-top: 2px;
}
.container-fluid{
	background-color: rgb(33,137,192);
}
.navbar{
	margin-bottom:0!important;
	border: none!important;
}
.mainbody{
	height: 1000px;
}
.body_left{
	background-color: rgb(43,46,61);
	width: 310px;
	height: 100%;
	color: white;
	float: left;
}
#body_left_p1{
	width: 200px;
	padding: 15px 0;
	margin:0 auto;
}
#body_left_p1 img{
}
#body_left_p1 span{
    padding-left: 20px;
    font-size:18px; 
}
#body_left_p2{
	width: 50%;
	float: left;
	position: relative;
}
#body_left_p2 span{
	position: absolute;
	left:50%;
}
#body_left_p3{
	border-left: 1px solid #fff;
	margin-left: 50%;
	margin-bottom:20px; 
	position: relative;
	text-align: center;
}
.body_left ul{
	overflow: hidden;
}
.body_left li{
	line-height: 60px;
}
.li_ul_1 li{
	line-height: 34px;
}
.li_ul_1{
	height: 170px;
	margin-top: -10px;
	margin-left: 85px;
	text-indent: 0!important;
}
.li_ul_2{
	margin-left: 50px;
}
.body_left_navbar{
	/*margin-left: 50px;*/
	text-indent: 30px;
	position: relative;
}
.body_left_shadow{
	position: absolute;
	top:0px;
	height: 225px;
	background-color: rgb(56,62,78);
}
.body_right{
	margin-left: 310px;
	height: 100%;
	background-color: rgb(238,238,238);
} 
}
.breadcrumb{
	margin-bottom: 0!important;
}
.body_right_main{
	padding: 25px 75px;
    width: 1226px; 
}
.body_right_main_1{
	width: 100%;
	height: 105px;
	background-color: #fff;
	border:1px solid #ddd;
}
.body_right_main_1 .row{
	width: 90%;
	height:30px!important;
}
.body_right_main_1 span{
	text-align: center;
	color: #888;
}
.body_right_main_1 select,.body_right_main_1 input{
	height: 27px;
}
#body_left_input_search{
	background-color: rgb(34,127,192)!important;
	width: 60px;
	height: 30px;
	border:none;
	color: white;
	border-radius: 3px;
	position: relative;top:15px;left: 35px;
}
.container{
	position: relative;
	top:20px;
}
#task_change{
	background: url(images/task009_change.gif)center;
	text-align: center;
	color: white;
    position: absolute;
    top:-12px;
    left: 420px;
    height: 80px;
    width: 80px;
}
.body_right_main_2{
    margin-top: -10px;
}
.pagination .li_a a{
	width: 134px!important;
	height: 75px!important;
	margin:0px 3px;
	text-align: center;
	padding-top: 16px;
}
.pagination .li_b a{
	height: 75px;
	text-align: center;
	line-height: 55px
}
.pagination .li_a a:hover{
	border-top:2px solid red;
}
.li_span{
	font-size: 24px;
	color: rgb(237,105,5);
}
#li_span_1{
	font-size:35px;
}
#li_span_2{
	font-size:14px;
	position: relative;
	top:-10px;
}
#nav_right{
	width: 163px!important;
}
.body_left a{
	color: white;
}
